html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}


h2{
  text-align: center;
  font-size: 25px;
}

h3{
  text-align: center;
  font-size: 20px;
}

p{
  color:Black;
  text-align: center;
  font-size: 20px;
}

img {
  display: block;
  text-align: center;
  margin: 0 0 0 700px;
}
/*
img {
  width: 25%;
  padding-left: 38%;
  padding-right: 25%;
} */

iframeVideo{
  width: 100%;
}

pictures {
  width: 100%;
}
